<a href="https://colab.research.google.com/github/Gonyim/Ormi_Python/blob/main/Python_%EC%A4%91%EA%B8%89.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# id, name, email이 각각 3번씩 반복
# -> 이러한 현상을  보일러 플레이트(boiler-plate)라 함
# -> print를 해도 필드값이 보이지 않아 불편
class User:
    def __init__(self, id, name, email):
        self.id = id
        self.name = name
        self.email = email

In [3]:
# id, name, email이 각각 3번씩 반복
# -> 이러한 현상을  보일러 플레이트(boiler-plate)라 함
# -> print를 해도 필드값이 보이지 않아 불편
class User:
    def __init__(self, id, name, email):
        self.id = id
        self.name = name
        self.email = email

    def __repr__(self):
        return (f'{self.__class__.__qualname__}{self.id, self.name, self.email}')

user = User(123, 'hojun', 'hojun@gmail')
user
# User(123, 'hojun', 'hojun@gmail')

User(123, 'hojun', 'hojun@gmail')

In [4]:
from dataclasses import dataclass

@dataclass
class User:
    id: int
    name: str
    email : str

user = User(123, 'hojun', 'hojun@gmail')
user

User(id=123, name='hojun', email='hojun@gmail')

In [6]:
x = {"key1": "value1"}
y = {"key2": "value2"}
z = x | y
z

{'key1': 'value1', 'key2': 'value2'}

In [8]:
x.update(y)
x

{'key1': 'value1', 'key2': 'value2'}

In [9]:
# JSON 형태에서는 아래처럼 +연산자를 사용하는 경우가 종종 있어습니다.

list(x.items()) + list(y.items())

[('key1', 'value1'), ('key2', 'value2'), ('key2', 'value2')]

In [10]:
# 기본적인 왈러스 연산자의 사용
x = (n := 10) * 2
print(x)  # 출력: 20
print(n)  # 출력: 10

20
10

In [ ]:
# 왈러스 연산자가 없을 때의 코드
import random

while True:
    x = random.randint(0, 10)
    if x == 7:
        break
    print(x)

# 왈러스 연산자를 사용한 코드
import random
while (x := random.randint(0, 10)) != 7:
    print(x)

In [13]:
count = 0
s = 0
while count <= 10:
    s += count
    count += 1

s

55

In [ ]:
count = 0
s = 0
while (count := count+1) <= 10:
    s += count
s

In [19]:
# f-string (아래 문법들은 정규표현식에서 자주 사용)

f'{{1, 2, 3}}'
f'{{{1, 2, 3}}}'

'{(1, 2, 3)}'

In [20]:
# f-string

one = 1
two = 2
three = 3

f'{{{one, two, three}}}'

'{(1, 2, 3)}'

In [21]:
one = 1

f'{{{one}}}'

'{1}'

In [25]:
def add(a, b):
    """
    Add two numbers and return the result.

    Args:
        a (int or float): The first number.
        b (int or float): The second number.

    Returns:
        int or float: The sum of the two numbers.
    """
    return a + b

# google coding convention
def fetch_smalltable_rows(
    table_handle,  keys, require_all_keys
):
    """Fetches rows from a Smalltable.

    Retrieves rows pertaining to the given keys from the Table instance
    represented by table_handle.  String keys will be UTF-8 encoded.

    Args:
        table_handle: An open smalltable.Table instance.
        keys: A sequence of strings representing the key of each table
          row to fetch.  String keys will be UTF-8 encoded.
        require_all_keys: If True only rows with values set for all keys will be
          returned.

    Returns:
        A dict mapping keys to the corresponding table row data
        fetched. Each row is represented as a tuple of strings. For
        example:

        {b'Serak': ('Rigel VII', 'Preparer'),
         b'Zim': ('Irk', 'Invader'),
         b'Lrrr': ('Omicron Persei 8', 'Emperor')}

        Returned keys are always bytes.  If a key from the keys argument is
        missing from the dictionary, then that row was not found in the
        table (and require_all_keys must have been False).

    Raises:
        IOError: An error occurred accessing the smalltable.
    """

In [27]:
# 딕셔너리 컴프리헨션
square_dict = {x: x**2 for x in range(5)}  # 0부터 4까지의 수를 키로, 그 제곱을 값으로 하는 딕셔너리 생성

In [28]:
square_dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [30]:
books = ['python', 'javascript', 'html/css']
book_dict = {book: idx for idx, book in enumerate(books)}
book_dict

{'python': 0, 'javascript': 1, 'html/css': 2}

In [ ]:
# 문제 : {'python': 10000000, 'javascript': 24000000, 'html/css': 39000000}
books = [('python', 1000, '10000원'), ('javascript', 2000, '12000원'), ('html/css', 3000, '13000원')]

In [ ]:
books = [('python', 1000, '10000원'), ('javascript', 2000, '12000원'), ('html/css', 3000, '13000원')]

book_dict = {book[0]: book[1] * int(book[2].replace('원', '')) for book in books}
print(book_dict)

In [32]:
square_gen = (i**2 for i in range(2, 10, 2))  # 0부터 9까지의 제너레이터

In [ ]:
gen = (i**2 for i in range(2, 10000000, 2))  # 0부터 9까지의 제너레이터
for i, j in zip(range(10), gen):
    print(i, j)

In [ ]:
class MyIterator:
    def __init__(self, stop):
        self.currentValue = 0
        self.stop = stop

    def __iter__(self):
        return self

    def __next__(self):
        if self.currentValue >= self.stop:
            raise StopIteration
        result = self.currentValue
        self.currentValue += 1
        return result

my_iterator = MyIterator(5)

for i in my_iterator:
    print(i)

In [ ]:
def count():
    count = 2
    while True:
        yield count
        count += 2

for i, j in zip(range(10), count()):
    print(i, j)

In [ ]:
class MyIterator:
    def __init__(self, stop):
        self.stop = stop

    def __iter__(self):
        self.currentValue = 0
        return self

    def __next__(self):
        if self.currentValue >= self.stop:
            raise StopIteration
        result = self.currentValue
        self.currentValue += 1
        return result

my_iterator = MyIterator(5)

for i in my_iterator:
    print(i)

for i in my_iterator:
    print(i)

# 결국 for는 iter먼저 실행하고, next로 StopIteration
# i = iter(li)
# next(i)

In [ ]:
from collections import deque

d = deque()
d.append('a')  # 오른쪽 끝에 추가
d.appendleft('b')  # 왼쪽 끝에 추가
d.pop()  # 오른쪽 끝 요소 제거
d.popleft()  # 왼쪽 끝 요소 제거

In [ ]:
from collections import Counter

c = Counter('hello world')
print(c)  # 출력: Counter({'l': 3, 'o': 2, 'h': 1, 'e': 1, ' ': 1, 'w': 1, 'r': 1, 'd': 1})

In [ ]:
# 클로저

# 클로저가 아닌경우
def outer_function():
    def inner_function():
        return 100+100
    return inner_function

# 클로저인 경우
def outer_function(x):
    def inner_function(y):
        return x + y
    return inner_function

inner = outer_function(100)
inner(200)

In [ ]:
def simple_decorator(function):
    def wrapper():
        print("Before the function call")
        function()
        print("After the function call")
    return wrapper

@simple_decorator
def hello():
    print("Hello, World!")

hello() # 데코레이터가 없는 상태에서는 simple_decorator(hello)() 와 같습니다.